$grey: #eee;

body {
	margin-top: 64px !important;
}

.pointer {
	cursor: pointer;
}

.info-popover {
	min-width: 200px;
	position: absolute;
	z-index: 999999;
}

.map-container {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 100%;
}

.no-padding {
	padding: 0;
}

.aside-list-container {
	.aside-box {
		padding: 10px 15px;
		border-bottom: 1px solid $grey;

		&.active-aside-box {
			background-color: $grey;
		}

		&:first-child {
			border-top: 1px solid $grey;
		}

		&:hover {
			background-color: $grey;
		}
	}
}

.active-club {
	text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em darkblue;
}

.club-marker:hover {
	text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em darkblue;
}

.filters {
	padding: 10px 15px;
}
